@model PCConfigurator.Models.MaterinskayaPlata

@{
    ViewData["Title"] = "Редактировать материнскую плату";
}

<h1>Редактировать материнскую плату</h1>

<hr />
<div class="row">
    <div class="col-md-6">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Model" />
            <div class="form-group mb-3">
                <label asp-for="Model" class="control-label"></label>
                <input asp-for="Model" class="form-control" readonly />
                <span asp-validation-for="Model" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="FormFaktor" class="control-label"></label>
                <input asp-for="FormFaktor" class="form-control" />
                <span asp-validation-for="FormFaktor" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="Soket" class="control-label"></label>
                <input asp-for="Soket" class="form-control" />
                <span asp-validation-for="Soket" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="TipPodderzhivayemoyOzu" class="control-label"></label>
                <input asp-for="TipPodderzhivayemoyOzu" class="form-control" />
                <span asp-validation-for="TipPodderzhivayemoyOzu" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="MaksimalnyyObyomOzuGb" class="control-label"></label>
                <input asp-for="MaksimalnyyObyomOzuGb" class="form-control" />
                <span asp-validation-for="MaksimalnyyObyomOzuGb" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="TipPodderzhivayemixNakopiteli" class="control-label"></label>
                <input asp-for="TipPodderzhivayemixNakopiteli" class="form-control" />
                <span asp-validation-for="TipPodderzhivayemixNakopiteli" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="Tsena" class="control-label"></label>
                <input asp-for="Tsena" class="form-control" />
                <span asp-validation-for="Tsena" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Сохранить" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-secondary">Назад к списку</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}